{% extends 'base.html.twig' %}

{% block title %}404 Error{% endblock %}
{% block pagetitle %}404 Error{% endblock %}
{% block pagetitlesmall %}{% endblock %}
{% block pagebartitle %}System{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/global/css/error.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 page-500">
            <div class=" number font-green"> 404 </div>
            <div class=" details">
                <h3>Oops! You're lost.</h3>
                <p> We can not find the page you're looking for.
                    <br> </p>
                <p>
                    <a href="{{ path('dashboard') }}" class="btn green btn-outline"> Return home </a>
                    <br> </p>
            </div>
        </div>
    </div>
{% endblock %}
