{% extends 'base.html.twig' %}

{% block title %}Visits{% endblock %}
{% block pagetitle %}Visits{% endblock %}
{% block pagetitlesmall %}{% endblock %}
{% block pagebartitle %}Visits{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/visits.min.css') }}" rel="stylesheet" type="text/css">
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="inbox">
        <div class="row">
            <div class="col-lg-4 col-md-5 margin-bottom-25">
                <div class="inbox-sidebar">
                    <div href="#" class="btn red compose-btn btn-block margin-bottom-15">
                        <i class="icon-users"></i> <span id="nb_visitors">0</span> visitor(s) </div>
                    <ul class="inbox-nav scroller visitor-list" style="height: 554px;"></ul>
                </div>
            </div>

            <div class="col-lg-8 col-md-7">
                <div class="inbox-body relative">
                    <div class="loading-visitor-info hidden">
                        <div class="spinner">
                            <div class="rect1"></div>
                            <div class="rect2"></div>
                            <div class="rect3"></div>
                            <div class="rect4"></div>
                            <div class="rect5"></div>
                        </div>
                    </div>
                    <div class="inbox-header">
                        <h1 class="pull-left" id="visitorName">Visitor Name</h1>
                        <span class="pull-right" id="visit_done"></span>
                    </div>
                    <hr style="margin: 0">
                    <div class="inbox-content">
                        <div class="portlet light">
                            <h4 class="block">Nationality:</h4>
                            <ul class="list-inline">
                                <li>
                                    <i class="fa fa-flag-o"></i> <span id="nationality"></span>
                                </li>
                            </ul>
                            <hr>
                            <h4 class="block">Document Type:</h4>
                            <ul class="list-inline">
                                <li><i class="fa fa-credit-card"></i> <span id="idInfo"></span></li>
                            </ul>
                            <hr>
                            <h4 class="block">Blacklisted:
                                <span id="blacklisted"></span>
                            </h4>
                            <hr>
                            <h4 class="block">Time Entered:</h4>
                            <ul class="list-inline">
                                <li><i class="fa fa-clock-o"></i> <span id="timeEntered"></span></li>
                            </ul>
                            <hr>
                            <h4 class="block">Estimated time to exit:</h4>
                            <ul class="list-inline">
                                <li><i class="fa fa-clock-o"></i> <span id="estimatedTime"></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/pages/visits.js') }}"></script>
{% endblock %}