/* here you can put your own css to customize and override the theme */
.page-header.navbar .page-logo a.logo-default {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    margin-top: 23px;
}

a.logo-default:hover {
    color: #fff;
}

a.logo-default:active {
    color: #fff;
}

.page-header.navbar .menu-toggler {
    background: url("../../images/sidebar-toggler.png") no-repeat center center;
}

.login {
    /*background-color: #3a3f42;*/
    background-color: #26344B;
}

.login-btn {
    display: block;
    width: 100%;
}

.login-btn img {
    display: block;
    width: 100%;
    height: 100%;
}

.portlet > .portlet-title > .tools > a.collapse {
    background-image: url("../../images/portlet-collapse-icon.png");
}

.portlet > .portlet-title > .tools > a.expand {
    background-image: url("../../images/portlet-expand-icon.png");
}

/*google button*/
.google-button {
    width: 100%;
    -webkit-border-radius: 1px;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
    transition: background-color .218s, border-color .218s, box-shadow .218s;
    -webkit-user-select: none;
    -webkit-appearance: none;
    background-color: #4285f4;
    color: #262626;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    padding: 1px;
}

.google-button:hover {
    -webkit-box-shadow: 0 0 3px 3px rgba(66, 133, 244, .3);
    box-shadow: 0 0 3px 3px rgba(66, 133, 244, .3);
}

.sign-in {
    font-size: 18px;
    line-height: 58px;
    color: #fff;
}

#google-logo {
    width: 18px;
    height: 18px;
}

.google-logo-container {
    background: white;
    padding: 20px;
    border-radius: 1px;
    float: left;
}

#sign-in-btn {
    text-decoration: none;
}
/*end google sign in button*/

.profile-usertitle {
    padding-bottom: 20px;
}

.panel-body > p {
    margin: 0 0 5px;
}